
<!--index.wxml-->
<view class="container">
  <input class="input" maxlength="25" bindinput="bindKeyInput" placeholder="输入文字生成弹幕表情" placeholder-style="color:#B2B2B2; font-size:20sp" />
  <image class="image" mode="aspectFit" bindtap="bindImageTap" src="{{resultUrl}}">Content</image>
  <view class="button_container">
    <button class="button" type="primary" bindtap="tapCreateGif" loading="{{creatingDamnu}}">生成弹幕</button>
    <button class="button" type="primary" bindtap="tapSendFriend" loading="{{creatingGif}}" disabled="{{sendFriendDisable}}">预览弹幕表情</button>
  </view>
  <!--<view wx:if="{{phoneMode == 0}}" class="tips_container">
    <view class="tips">操作步骤：</view>
    <view class="tips">1.输入文字，生成弹幕</view>
    <view class="tips">2.点击“发送给朋友”，长按识别二维码</view>
    <view class="tips">3.长按文字分享给朋友</view>
  </view>
  <view wx:else class="tips_container">
    <view class="tips">操作步骤：</view>
    <view class="tips">1.输入文字，生成弹幕</view>
    <view class="tips">2.点击“发送给朋友”，再点右上角“…”就可以攻击朋友啦biubiu</view>
  </view>-->
</view>